/* 현재 선택된 검색어 */
.autocomplete > div.active {
  background: #e0e5f6;
  color: #000;
}

/* -------------------------- */

.autocomplete {
  margin-bottom: 5rem;
}

.autocomplete > div {
  width: 510px;
  margin: auto;
  background: #f1f3f499;
  padding: .2rem .6rem;
  user-select: none;
}

.autocomplete > div:hover {
  background: #e0e5f6;
  color: #000;
}

.autocomplete > div:active {
  background: #bbc0ce;
  color: #000;
}

section {
  width: 510px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  text-align: center;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  word-break: break-all;
  font-family: Pretendard;
  text-align: center;
}

input {
  width: 510px;
  height: 3rem;
  border-radius: 5px;
  padding: 0rem 1rem;
  border: 1px solid #e0e5f6;
  background: #ffffff;
  margin: 1rem 0rem;
  text-align: left;
  font-size: 1.2rem;
}

#search {
  margin-bottom: 0px;
  border-radius: 0px;
}

input::placeholder {
  font-size: 1.2rem;
}

#memo {
  width: 300px;
  height: 2rem;
  border-radius: 5px;
  padding: 0rem 1rem;
  border: 1px solid #e0e5f6;
  background: #ffffff;
  margin: 0rem;
  text-align: left;
  font-size: 1rem;
}

#memo::placeholder {
  font-size: 1rem;
}

#grey {
  width: 20px;
  margin: 0px 10px 0px 0px;
  text-align: center;
  vertical-align: middle;
}

body {
  background: #ffffff;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

mark {
  background: #febf0090;
}

p {
  opacity: .8;
  font-size: 15px;
}

button {
  width: 80px;
  height: 35px;
  border-radius: 7px;
  background: #ffffff;
  color: #333333;
  border: 1px solid #dddddd;
  margin-top: 10px;
}

button:hover {
  background: #ddffdd;
  color: #333333;
  border: 1px solid #dddddd;
}

button:active {
  background: #ccffcc;
  color: #333333;
  border: 1px solid #dddddd;
}

.bigButton {
  width: 160px;
  height: 35px;
}

.area {
  margin-top: 1rem;
}

canvas {
  border: 0px solid black;
}

.alertarea_out {
  width: 510px;
  height: 2rem;
  background: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}

.alertarea_in {
  width: 510px;
  height: 2rem;
  margin: auto;
  padding: 1rem 0rem 0rem 0rem;
  background: #ffffff;
  text-align: center;
  font-size: 0.8rem;
}